/** Button Sizes **/
@mixin btn-base
    font-weight: 600
    line-height: 1.5
    text-align: center
    @apply shadow
    border: 1px solid transparent

.btn
    @include btn-base
    @apply rounded-md
    padding: 0.5rem 0.75rem
    font-size: 1rem

.btn-sm
    @include btn-base
    @apply rounded
    padding: 0.25rem 0.5rem
    font-size: 0.875rem

.btn-lg
    @include btn-base
    @apply rounded-lg
    padding: 0.75rem 1rem
    font-size: 1.25rem


/** Button Themes **/
.btn-primary
    background-color: $primary
    color: $onprimary

    &:hover, &:focus
        background-color: rgb($primary-dark80)
        color: $onprimary
    
    &:active
        background-color: rgb($primary-dark65)
        color: $onprimary
    
    &:focus
        box-shadow: 0 0 0 .25rem rgba($primary-light-rgb, 0.25)


.btn-success
    background-color: $success
    color: $white

    &:hover, &:focus
        background-color: mix($success, #000, 80%)
        color: $white
    
    &:active
        background-color: mix($success, #000, 65%)
        color: $white
    
    &:focus
        box-shadow: 0 0 0 .25rem rgba(mix($success, #fff, 50%), 0.25)

.btn-danger
    background-color: $danger
    color: $white

    &:hover, &:focus
        background-color: mix($danger, #000, 80%)
        color: $white
    
    &:active
        background-color: mix($danger, #000, 65%)
        color: $white
    
    &:focus
        box-shadow: 0 0 0 .25rem rgba(mix($danger, #fff, 50%), 0.25)

.btn-warning
    background-color: $warning
    color: $black

    &:hover, &:focus
        background-color: mix($warning, #000, 80%)
        color: $white
    
    &:active
        background-color: mix($warning, #000, 65%)
        color: $white
    
    &:focus
        box-shadow: 0 0 0 .25rem rgba(mix($warning, #fff, 50%), 0.25)

.btn-info
    background-color: $info
    color: $white

    &:hover, &:focus
        background-color: mix($info, #000, 80%)
        color: $white
    
    &:active
        background-color: mix($info, #000, 65%)
        color: $white
    
    &:focus
        box-shadow: 0 0 0 .25rem rgba(mix($info, #fff, 50%), 0.25)

.btn-light
    background-color: $light
    color: $black

    &:hover, &:focus
        background-color: mix($light, #000, 80%)
        color: $white
    
    &:active
        background-color: mix($light, #000, 65%)
        color: $white
    
    &:focus
        box-shadow: 0 0 0 .25rem rgba(mix($light, #fff, 50%), 0.25)

.btn-dark
    background-color: $dark
    color: $white

    &:hover, &:focus
        background-color: mix($dark, #000, 80%)
        color: $white
    
    &:active
        background-color: mix($dark, #000, 65%)
        color: $white
    
    &:focus
        box-shadow: 0 0 0 .25rem rgba(mix($dark, #fff, 50%), 0.25)

/*** Buttons Outline **/

.btn-outline-primary
    color: $primary
    border-color: $primary

    &:hover, &:focus, &:active
        color: $onprimary
        background-color: $primary
        border-color: $primary
    
    &:focus
        box-shadow: 0 0 0 .25rem rgba($primary, 0.25)

.btn-outline-success
    color: $success
    border-color: $success

    &:hover, &:focus, &:active
        color: $white
        background-color: $success
        border-color: $success
    
    &:focus
        box-shadow: 0 0 0 .25rem rgba($success, 0.25)

.btn-outline-danger
    color: $danger
    border-color: $danger

    &:hover, &:focus, &:active
        color: $white
        background-color: $danger
        border-color: $danger
    
    &:focus
        box-shadow: 0 0 0 .25rem rgba($danger, 0.25)

.btn-outline-warning
    color: $warning
    border-color: $warning

    &:hover, &:focus, &:active
        color: $black
        background-color: $warning
        border-color: $warning
    
    &:focus
        box-shadow: 0 0 0 .25rem rgba($warning, 0.25)

.btn-outline-info
    color: $info
    border-color: $info

    &:hover, &:focus, &:active
        color: $white
        background-color: $info
        border-color: $info
    
    &:focus
        box-shadow: 0 0 0 .25rem rgba($info, 0.25)

.btn-outline-light
    color: $light
    border-color: $light

    &:hover, &:focus, &:active
        color: $black
        background-color: $light
        border-color: $light
    
    &:focus
        box-shadow: 0 0 0 .25rem rgba($light, 0.25)

.btn-outline-dark
    color: $dark
    border-color: $dark

    &:hover, &:focus, &:active
        color: $white
        background-color: $dark
        border-color: $dark
    
    &:focus
        box-shadow: 0 0 0 .25rem rgba($dark, 0.25)
