/**** Theme Configuration --- only CSS variables and HEX-Codes are useable ***/
[data-theme="cockpit"]
  --primary: #0079D5
  --primary-rgb: 0, 121, 213
  --primary-light-rgb: 64, 167, 213

[data-theme="finance"]
  --primary: #83060B
  --primary-rgb: 131, 6, 11
  --primary-light-rgb: 212, 93, 94

[data-theme="hr"]
  --primary: #03860F
  --primary-rgb: 3, 134, 15
  --primary-light-rgb: 124, 209, 151

[data-theme="trader"]
  --primary: #f8a711
  --primary-rgb: 248, 167, 17
  --primary-light-rgb: 249, 209, 145


/*** Convert Theme variables to SASS-readable Variables --- not working with SASS-Functions like mix() ***/
$primary: var(--primary)
$primary-rgb: var(--primary-rgb)
$primary-light-rgb: var(--primary-light-rgb)