$nunito: 'Nunito'
$nunito-italic: 'Nunito Italic'
$font-fallback: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

@font-face 
    font-family: $nunito
    src: url("/assets/fonts/nunito.ttf") format("truetype")

@font-face 
    font-family: $nunito-italic
    src: url("/assets/fonts/nunito-italic.ttf") format("truetype")

@layer base
    html
        font-family: $nunito, $font-fallback

    body
        color: $black

    
h1, .h1
    font-size: 2.5rem

h2, .h2
    font-size: 2rem

h3, .h3
    font-size: 1.75rem

h4, .h4
    font-size: 1.5rem

h5, .h5
    font-size: 1.25rem

h6, .h6
    font-size: 1rem
